.side-details {
	background-color: #f5f5f5;
}
.msg {
	background-color: #red;
}
.main-price {
	font-size: 42px;
    font-weight: bold;
}
div[class$="group"]{
	left: 40%;
}
div[class$="group"] button {
	margin: 8px;
}
.color-group button{
	background-color: green;
	color: green;
}
.color-group button:nth-child(2) {
	background-color: blue;
	color: blue;
}
.cart-btn {
	display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.lower-pane {
	margin-top: 50px;
}
.tab-interface {
	padding: 30px;
	border: 3px solid #f5f5f5;
}

.picture{
	border: 3px solid white;
}

.tab-pane {
	padding: 20px;
}
.list-group-item input {
	display: inline;
	width: 15%;
	margin: 20px;
}
.recommendation img{
	margin: 0 auto;
	display: block;
	margin-top: 15px;
}

.tab-interface {
	margin: 20px 0;
}
#carousel-generic {
	background-color: #F0F8FF;
	margin-bottom: 10px;
	margin-top: 0px;
}